// Navigation code here
.container{
    display:flex;
    .direction(column);
    .center();

    nav {
        // display: flex;
        // justify-content: space-evenly;
        .spacing();
        width: 55%;
        margin:2% 0;
        padding-top:.5%;
        

        a {
            font-size: 1.6rem;
            text-decoration: none;
        }//closes the anchor

    }//closes the nav

















}//closes the container