// Navigation code here
.container{
    display:flex;
    .direction(column);
    .center();

    nav {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        margin:2% 0;
        

        a {
            font-size: 1.6rem;
            text-decoration: none;
        }//closes the anchor

    }//closes the nav

















}//closes the container